<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @client.age %>
</p>

<p>
  <strong>Número contacto:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<%= link_to 'Editar datos', edit_client_path(@client) %>
