<p id="notice"><%= notice %></p>

<h1>Cotizaciones</h1>

<table>
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Fecha registro</th>
      <th>Cliente</th>
      <th>Explicaci贸n tatto</th>
      <th>Parte del cuerpo</th>
      <th>Centimetros</th>
      <th>Estado</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotations.each do |quotation| %>
      <tr>
        <td><%= quotation.created_at.strftime("%d-%m-%Y %I:%M %p") %></td>
        <td><%= quotation.user.name %></td>
        <td><%= rails_blob_url(quotation.user_image) %></td>
        <td><%= quotation.detail_tattoo %></td>
        <td><%= quotation.detail_body %></td>
        <td><%= quotation.centimeter %></td>
        <td><%= quotation.approved %></td>
        <td><%= link_to 'Editar cotizaci贸n', edit_quotation_path(quotation) %></td>
        <td><%= link_to 'Eliminar cotizaci贸n', quotation, method: :delete, data: { confirm: 'Estas seguro/a de eliminar la cotizaci贸n?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quotation', new_quotation_path %>
