<!DOCTYPE html>
<html>
  <head>
    <title>Claudio Gajardo | Tattoo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %>">
      <%= msg %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
